
<template name="lessonItem">
  <h3>{{name}}</h3>
</template>

<template name="lessonsList">
  {{#each lessons}}
    {{> lessonItem}}
  {{/each}}

  {{#each lessonsStudent}}
    {{> lessonStudentItem}}
  {{/each}}
  <button class="status">Change Status</button>
  <button class="new-lesson">New Lesson</button>
  <button class="inc-progress">Inc Progress</button>
</template>

<template name="lessonsForAdmin">
  {{#each lessons}}
    {{> lessonAdminItem}}
  {{/each}}
</template>

<template name="lessonStudentItem">
    <h1>
      {{name}}
      {{progress}}
    </h1>
</template>

<template name="lessonAdminItem">
  <ul> {{name}} |{{progress}}</ul>
</template>
