
<template name="pupilLessonList">
  {{#each lessons}}
    {{> lessonStudentItem}}
  {{/each}}

  <button class="status">Change Status</button>
  <button class="new-lesson">New Lesson</button>
  <button class="inc-progress">Inc Progress</button>
</template>

<template name="adminLessonListByUser">
  {{#each users}}
    <h3> {{_id}} </h3>
    {{> adminLessonList}}
  {{/each}}
</template>

<template name="adminLessonList">
  {{#each userLessons}}
    {{> lessonAdminItem}}
  {{/each}}
</template> 

<template name="lessonStudentItem">
    <h1>
      {{name}}
      {{progress}}
    </h1>
</template>

<template name="lessonAdminItem">
  <ul> {{name}} |{{progress}}</ul>
</template>
