
<template name="pupilLessonList">
  {{#each lessons}}
    {{> lessonStudentItem}}
  {{/each}}

  <button class="status">Change Status</button>
  <button class="new-lesson">New Lesson</button>
  <button class="inc-progress">Inc Progress</button>
</template>

<template name="adminLessonListByUser">
  {{#each users}}
    <div class="panel">
      {{> adminLessonList}}
    </div>
  {{/each}}
</template>

<template name="adminLessonList">
  {{#each userLessons}}
    {{> lessonAdminItem}}
  {{/each}}
</template> 

<template name="lessonStudentItem">
    <h1>
      {{name}}
      {{progress}}
    </h1>
</template>

<template name="lessonAdminItem">


  <div class="row">
    <div class="small-6 large-centered columns">
      <h3> {{_id}} </h3>
    </div>
  </div>

  <div class="row">
    <div id="{{this._id}}" class="rectangle small-6 large-centered columns"></div>
  </div>

  <div class="row">
    <div class="small-6 large-centered columns">
      <ul> {{name}} |{{progress}}</ul>
    </div>
  </div>

</template>
